{% extends 'partials/base.html.twig' %}

{% block header %}
    {{ parent() }}
    <section class="hero flex" style="background-image: url({{ url("theme:///images/hero.jpg") }}">
        <div class="container flex">
            <div class="slogan">
                <span>Webdesign mit Sinn und Zweck und XYZ</span>
                <div>
                    <a href="javascript:void(0)" class="button d-i-block">Angebot einholen</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    {# page.content #}

    <section class="leistungen">
        <h1>Leistungen</h1>
        <div class="articles">
            <article>
                <div class="inner">
                    <h3>Design</h3>
                    <div class="icon">
                        <img src="{{ url("theme://images/design.png") }}" alt="design-icon"/>
                    </div>
                </div>
            </article>
            <article>
                <div class="inner">
                    <h3>Strategie</h3>
                    <div class="icon">
                        <img src="{{ url("theme://images/strategy.png") }}" alt="strategy-icon"/>
                    </div>
                </div>
            </article>
            <article>
                <div class="inner">
                    <h3>Consulting</h3>
                    <div class="icon">
                        <img src="{{ url("theme://images/consulting.png") }}" alt="consulting-icon"/>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="news">
        <h1>News</h1>
        <div class="articles">
            {% set news_collection = page.collection({
                items: {
                    '@page.children': '/news'
                },
                'limit': 3,
                'order': {
                    'by': 'date',
                    'dir': 'desc'
                },
            }) %}
            {% for p in news_collection %}
                {% if p.header.header_image %}
                    {% set header_image =  p.media.images[p.header.header_image].url %}
                {% else %}
                    {% set header_image = 'http://via.placeholder.com/150x150' %}
                {% endif %}
            <article>
                <div class="inner">
                    <a href="{{ p.url }}">
                        <img src="{{ header_image }}" alt="placeholder"/>
                        <h3>{{ p.title }}</h3>
                    </a>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
    <section class="referenzen">
        <h1>Referenzen</h1>
        <div class="articles">
            {% set portfolio_collection = page.collection({
                items: {
                    '@page.children': '/portfolio'
                },
                'limit': 3,
                'order': {
                    'by': 'date',
                    'dir': 'desc'
                },
            }) %}
            {% for p in portfolio_collection %}
                {% if p.header.header_image %}
                    {% set header_image =  p.media.images[p.header.header_image].url %}
                {% else %}
                    {% set header_image = 'http://via.placeholder.com/150x150' %}
                {% endif %}
            <article>
                <div class="inner">
                    <a href="{{ p.url }}">
                        <img src="{{ header_image }}" alt="placeholder"/>
                        <h3>{{ p.title }}</h3>
                    </a>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}